@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:300);

* {
    margin:0;
    padding:0;
}

body {
    font: 16px/24px 'Roboto Slab', serif;
    background-color: #EFFBF5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
}

h1 {
    line-height: 100px;
    font-size: 50px;
    

}

h2 {
    line-height: 48px;
    color: #F8ECE0;
    background-color: #494040

}

p {
    margin-bottom: 24px;
}

img {
    width:
}

header {
    margin-bottom: 10px;
    background-color ;
    font-style: comic sans;
}

header img {
    float: left;
}

nav {
    clear: both;
}

nav a {
    border-bottom: 3px solid #ffffff;
    color: #000;
    display: inline-block;
    font: 20px/24px 'Oswald', sans-serif;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    border-bottom: 4px solid #5cb0ff;
}

article h1 {
    margin-bottom: 8px;
}

article h1+img {
    margin-bottom: 24px;
}

article h2 {
    margin-bottom: 12px;
}

aside h3 {
    font-size: 14px;
    margin-bottom: 4px;
    margin-top: 32px;
}

aside h3:first-child {
    margin-bottom: 10px;
    margin-top: 10px;
}

aside ul {
    font-size: 12px;
    list-style-type: none;
}

aside a {
    color: #5cb0ff;
    text-decoration: none;
}

aside a:after {
   content: " >";
}

figure {
    margin-bottom: -8px;
}

figcaption {
    font-size: 17px;
    margin-bottom: 24px;
    margin-top: -6px;
}


footer {
    background-color: #FF8000;
    clear: both;
    color: #0A2A29;
    flex-basis:
}

footer ul {
    list-style-type: none;

}

.wrapper {
    margin: 0 auto;
    max-width: 600px;

}

